@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #7be5ec;
  --primary-opaque: rgba(123, 229, 236, 0.3);
  --secondary: #f9f9f9;
  --shape: #f9f9f9;
  --bgbutton: red;
  /* --sha */
}
/* get the actual color in the body */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #7be5ec;
    --secondary: #171717;
    --shape: #171717;
    --bgbutton: #0a0a0a;
    --primary-opaque: rgba(123, 229, 236, 0.3);
  }
}
html {
  transition: color 0.3s ease, background-color 0.3s ease;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.xterm .xterm-viewport {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
